.Tags span {
    font-weight: bold;
}

.Tags li {
    display: inline-block;
}

.Tags ul {
    display: inline;
}

.Tags a {
    text-decoration: none;
    box-shadow: none;
    padding: 0.2em 0.6em;
    border-radius: 12%;
    margin: 5px;
    font-size: 1.2em;
    background-color: lime;
    color: black;
}

.Tags a:hover {
    background-color: sandybrown;
}
